.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;;
}


.active img {
    width: 10%;
    height: 30%;
    margin:5px;
    -webkit-clip-path:rgb(226, 216, 216)cle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}


i {
    background-color: yellow;
}

b {
    font-size: 20px;
}