
textarea.form-control {
    height: auto;
    border-radius: 100px;
    padding-top: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.bg-color{
    background-color: #249fc6;
}
@media (max-width:1200){
    .row{
        font-size: 12px;
    }
}
