    body{
        background-image: url('../image/technology.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }


	.login-form {
		width: 440px;
        margin: 30px auto;
        padding-top: 7%;
        padding-bottom: 7%; 
        
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
        opacity: 0.8;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .login-form .hint-text {
		color: #777;
		padding-bottom: 15px;
		text-align: center;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .login-btn {        
        font-size: 25px;
        font-weight: bold;
        background-color: #249fc6;
    }
    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
    }
    .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: left; 
        line-height: 34px;
        color:white;
              
    }
    .btn-fb{
        background-color: #4267b2;
        opacity: 1;      
    }
    .btn-twitter{
        background-color: #1b95e0;
        opacity: 1;      
    }
    .btn-google{
        background-color: #b04444;
        opacity: 1;
              
    }

	.social-btn .btn i {
		float: left;
		margin: 4px 15px  0 5px;
        min-width: 35px;
        height: 20px;
        
	}
	.input-group-addon .fa{
		font-size: 18px;
    }
    @media (max-width: 1500px){
        .login-form{
            width: 450px;
            font-size: 22px;
        }
        .btn-fb.btn-google.btn-twitter{
            font-size: 29px;
        }
    }
    @media (max-width: 1000px){
        .login-form{
            width: 250px;
            font-size: 18px;
            
        }
        .btn-fb.btn-google.btn-twitter{
            font-size: 29px;
        }
    }
    @media (max-width: 768px){
        .login-form{
            font-size: 22px;
        }
    }
    @media (max-width: 320px){
        .login-form{
            font-size: 14px;
        }
    }