.container {
    position: fixed;
}


.navbar {
    min-height: 3rem;
    background-color: #292961;
    color: #d1d1f0;
    justify-content: space-between;
}


.title {
    color: white;
    margin-right: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;
}


/* -----------------MAIN POS STYLE---------------------- */


#category-list-overflow {
    height: 95%;
    overflow-y: scroll;
}


#category-list { 
    height: 100%;
 
}


.category {
    background-color: #c1c1c1;
}


.tables {

    /* border: 1px solid black; */
    padding: 5px 5px;
    margin:  10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px -1px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -1px 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px -1px 8px -4px rgba(0, 0, 0, 1); 
}


.list-category {
    background: white;
    margin: 10px 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0px -1px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -1px 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px -1px 8px -4px rgba(0, 0, 0, 1);
}



.category-image {
    width: 100%;
    /* height: 60%; */
    padding: 3px;
}


.type-food-image {
    width: 100%;
    height: 100%;
    padding: 5px;
}


.food-category {
    background-color: #292961;

}


.food-category > img  {
    background-color: #292961;
}


span {
    font-weight: bold;
    font-size: 13px;
    color: BLACK;
}


.calculate-payment{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}


.calculate-detail{
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}

.button {
    background-color: #c1c1c1;
}


.btn-invoice {
    width: 100px;
    margin: 10px;
    padding:0 10px;
    
}


.btn-invoice  i {
   margin-right: 3px;
}


h5 {
    font-weight: bold;
    border-bottom: 1px solid #292961;
}


.text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.3;
  }



/* collapse sidebar */


  #collapse {
    transition: margin-left .5s;
    padding: 1px;
  }


  .openbtn {
    font-size: 1.25rem;
    cursor: progress;
    border: none;
  }


  .closebtn {
      margin-top: 500px;
  }


  .sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  

  .sidebar a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }


  .sidebar a:hover {
    background-color: #292961;
    color: #f1f1f1;
  }
  

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
}



/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}


/* ----------------------Customize overflow---------------------------- */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #807e7e; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}



/* dropdown botton */

.dropbtn {
    background-color: #292961;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .dropbtn:hover, .dropbtn:focus {
    background-color: #292961;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #292961;
    color: #f1f1f1;
  }

  /* .dropdown a:hover {background-color: #ddd;} */
  
  .show {display: block;}


  /* active class */
  .btn-active {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .active, .btn-active:hover {
    background-color: #292961;
    color: white;
  }

  .active{
    background-color: #292961;
    color: white;
  } 

