    body {
        background-image: url('../image/technology.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    
    }


	.login-form {
        width: 100%;
        padding:10%;
     
	}
    .login-form form {
    	margin: 0.9375em;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 1.875em;
        opacity: 0.8;
        
    }
    .login-form h2 {
        margin: 0.9375em;
    }
    .login-form .hint-text {
		color: #777;
		padding-bottom: 0.9375em;
		text-align: center;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
       
    }
    .save-btn {        
        font-size: 1.25em;
        font-weight: bold;
        padding-top: 10px;


        
        
    }
    .or-seperator {
        margin: 1.25em 0 10px;
        text-align: center;
        
    }
    .or-seperator i {
        position: absolute;
        top: 60%;
        left: 48.5%;
        width: 40px;
        height: 40px;
        background:DarkGrey ;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
        line-height: 40px;
        text-align: center;
        opacity: 0.9;
    } 
    .social-btn .btn {
        margin-left: 20px;
        margin-top: 60px;
        font-size: 1.25em;
        text-align: left; 
        line-height: 24px;
        padding: 15px;
    }
    .social-btn .btn b{
        
        min-width: 0.9375em;
        margin: 10px;
        margin-top: 50px;
        padding: 1.25em;
          

    }
	.social-btn .btn  {
		float: left;
        min-width: 0.9375em;
        margin: 10px;
	}
	.input-group-addon .fa{
		font-size: 18px;
    }
    .border-right {
        border-right: 1px solid #ebebe0;
    }
    .social-btn{
        padding-top: 3.125em;
        margin-left: 30px;
    }
    .frm-signup{
        margin-right: 3.125em;
        margin: 1.25em;
    }
